/* #canvas,#player{
    position: absolute;
    width:320px;
    height:240px;
    left: 0px;
    top: 0px;
    /* z-index: -1; */
    video::-webkit-media-controls-start-playback-button {
        display: none;
    }